    *{
            padding: 0px;
            margin: 0px;
            text-decoration: none;
    }
    body
    {
            display: grid;
            grid-column: 1fr;
            background: #2A4230;
            color: white;
    }
@media only screen and (max-device-width: 600px) {

     .heading
     {
            display: flex;
            margin: 10px 5%;
            padding-left: 10px; 
            align-items: center;
            width: 90%;
            height: 60px;
            background: #2A4230;
            box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.2), 3px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 22px;
            font-family: sans-serif;

     }

     .calculator-main
     {
            width: 90%;
            height: 45em;
            margin: 50px 5%;
            background: #2A4230;
            box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.2), 4px 4px 4px rgba(0, 0, 0, 0.3);
            border-radius: 25px;
     }

     .main-form
     {

            padding :20px;
            font-family: Arial;
            font-size: 1em;

     }

     input
     {

            border: none;
            width: 100%;
            margin: 1.75em 0; 
            padding-left: 5px;
            height : 3.5em;
            background:#ECEC9D;
            border-radius: 21px;
            font-size: 1em;
     }
     button
     {
            color: white;
            border: none;
            background: #61942E;
            border-radius: 22px;
            width: 200px;
            height: 50px;
            box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.2), 3px 4px 4px rgba(0, 0, 0, 0.3);

     }
     .result-t
     {
            display: flex;
            justify-content: center;
            align-items: center;
     }

     .output-box{
         font-size: 28px;
         color: #2A4230;

         display: flex;
         height: 18em;
         width: 90%;
         margin: 30px 5%;
        background: #ECEC9D;
        box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.25), 2px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
     }
     .content-out{
        padding: 30px;
     }
     .content-out li{
        padding: 8px;
     }
     .content-out h2{
         margin-left: 15%;
         
        padding: 10px;
     }
    hr{
        width: 90%;
        background:#2A4230 ;
        box-shadow: none;
    }
    .parent2{
        font-size: 22px;
         color: #2A4230;

         
         height: 10em;
         width: 90%;
         margin: 30px 5%;
        background: rgb(192, 236, 157);
        box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.25), 2px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 22px;

    }
    #quote,#help{
        padding: 10px;
        margin: 5px 2%;
        font-size: 24px;
        align-items: center;
    }
    .blog-post{
        background: #2A4230;
        box-shadow: -1px -1px 6px rgba(255, 255, 255, 0.2), 6px 4px 4px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
        width: 90%;
        font-size: 26px;
        height: 21em;
        margin: 10px 5%;
        color: whitesmoke;
    }
    .des-wrap{
        padding: 20px;
    }
    footer{
        
       margin-top: 30px; 
        height: 180px;
        width: 100%;
        background: rgba(12, 12, 12, 0.308);
        opacity: 0.8;
    }
    .icons{
        padding: 10px;
        margin: 10px 3%;
    }
    .footerr{
        padding: 20px;
        margin-left: 20px;
    }
}

